
<div class="card" >
    <div class="card-image">
        <figure class="image is-4by3">
            <img src="{{contact.photo_url}}" alt="Image">
        </figure>
    </div>
    <div class="card-content">
        <div class="media">
            <div>
                        <article class="media">
                            <figure class="media-left">
                                <p class="image is-64x64">
                                    <i class="fa fa-user-circle" aria-hidden="true"></i>
                                </p>
                            </figure>
                            <div class="media-content">
                                <p>
                                    <strong>{{contact.name}}</strong>
                                </p>
                            </div>
                        </article>
            </div>
            <div>
                        <article class="media">
                            <figure class="media-left">
                                <p class="image is-64x64">
                                    <i class="fa fa-envelope" aria-hidden="true"></i>
                                </p>
                            </figure>
                            <div class="media-content">
                                <p>
                                    <strong>{{contact.email}}</strong>
                                </p>
                            </div>
                        </article>
            </div>
            <div>
                        <article class="media">
                            <figure class="media-left">
                                <p class="image is-64x64">
                                    <i class="fa fa-mobile" aria-hidden="true"></i>
                                </p>
                            </figure>
                            <div class="media-content">
                                <p>
                                    <strong>{{contact.phone_num}}</strong>
                                </p>
                            </div>
                        </article>
            </div>
            <div>
                <article class="media">
                    <figure class="media-left">
                        <p class="image is-64x64">
                            <i class="fa fa-globe" aria-hidden="true"></i>
                        </p>
                    </figure>
                    <div class="media-content">
                        <p>
                            <strong>{{contact.city}},{{contact.state}}</strong>
                        </p>
                    </div>
                </article>
            </div>
        </div>
    </div>
    <div class="back right">
        <a href="#!/home">
            <div class="img-box">
                <img src="./images/back.png" alt="">
            </div>
        </a>
    </div>
</div>